  <log4net>
    <appender name="DvelopAppender" type="dvelop.Common.Logging.DvelopAppender,dvelop.Common.Logging">
      <sourceName value="gitlabcidashboard" />
      <useSyslog value="true" />
      <filter type="dvelop.Common.Logging.Filter.ExceptionTypeFilter,dvelop.Common.Logging">
        <exceptionType value="System.OperationCanceledException" />
      </filter>
    </appender>
	<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
		</layout>
	</appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="DvelopAppender" />
    </root>
  </log4net>
