/*.projectListItem{
  width: 30%;
  background-color: #e1e2e1;
  margin-bottom: 45px;
}*/

.projectLine{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 50px;
}


